:root {
    --CorDefault: #1a3c62;
}

body {
    font-family: "Calibri", sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

button {
    font-family: "Calibri", sans-serif;
    font-size: 25px;
    min-width: 70px;
    min-height: 30px;
    height: max-content;
    background-color: var(--CorDefault);
    color: white;
    border: 0px;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 1px;
    margin-top: 5px;
}

input {
    font-family: "Calibri", sans-serif;
    flex: 1;
    height: 25px;
    width: 200px;
    background-color: #ecf5ff;
    border: 1px #ecf5ff solid;
    padding: 2px;
}

a {
    color: inherit;
    text-decoration: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--CorDefault);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

#logoInfoel {
    text-align: center;
    margin: 10px;
    flex: 1;
}

#logoInfoel img {
    height: 70px;
}

#formulario {
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 70px; */

    color: var(--CorDefault);
}

#logo {
    width: 100%;
    height: 110%;
    margin-left: 20px;
}

#logo-target {
    height: 130px;
    margin-top: auto;
}

#formulario label {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}

#formulario h1 {
    font-weight: bold;
    font-size: large;
}

#formulario label > p {
    margin-bottom: 5px;
}

#formulario div {
    margin-left: 15px;
    margin-bottom: 20px;
}

#formulario #infoCliente {
    margin-bottom: 0px;
}

#formulario #dadosPessoa {
    margin-bottom: 0px;
    margin-left: 0px;
}

#formulario input,
#formulario select {
    width: auto;
    font-family: "Calibri", sans-serif;
    padding: 5px;
    color: var(--CorDefault);
    font-size: 15px;
}
/*
#formulario input,
#formulario select {
    font-family: "Calibri", sans-serif;
    background-color: white;
    border: 2px solid var(--CorDefault);
    width: auto;
    padding: 5px;
    color: var(--CorDefault);
    font-size: 15px;
}

#formulario hr {
    border: 0;
    border-top: 1px solid #aaa;
    width: 80%;
}
*/

#formulario button {
    margin-bottom: 70px;
}

.linha {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-right: 5px;
}

.linha p:nth-child(2) {
    margin-left: 5px;
    font-weight: bold;
    word-break: break-word;
}

/* Para COMPUTADOR */
@media (min-width: 768px) {
    #logoInfoel {
        margin-bottom: 0px;
        flex: 0;
    }

    #root {
        background-color: #6594c92d;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
