#login {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

#login button {
  margin: 25px 0;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid var(--CorDefault);
  background-color: white;
  color: var(--CorDefault);
}

#login button:hover,
#login button:active {
  background-color: var(--CorDefault);
  color: white;
}

#login label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

#login label>span {
  color: var(--CorTextoOff);
  position: absolute;
  transform: translate3D(0px, 5px, 0);
  transition: 0.2s;
}

#login input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--CorDefault);
  color: var(--CorDefault);
  font-size: 20px;
}

.login-part {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.login-part {
  justify-content: flex-start;
  padding-top: 35px;
}

/* Para COMPUTADOR */

@media (min-width: 768px) {
  #login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 600px;
    width: 450px;
    flex: none;
  }

  form.login-part {
    justify-content: center;
  }
}