#login {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: white;
}

#login label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login input {
    margin-bottom: 10px;
}

.login-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.login-part {
    justify-content: flex-start;
    padding-top: 35px;
}

/* Para COMPUTADOR */

@media (min-width: 768px) {
    #login {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 450px;
        width: 350px;
    }

    form.login-part {
        justify-content: center;
    }
}
