<div id="home">
    <h1 id="titulo"></h1>

    <nav>
        <ul>
            <div class="itens">
                <li onclick="telaNovoCliente()">
                    <i class="bi bi-person-plus"></i>
                </li>

                <li onclick="telaNovaVenda()">
                    <i class="bi bi-basket2"></i>
                </li>

                <li onclick="telaRelatorio()">
                    <i class="bi bi-search"></i>
                </li>

                <li onclick="telaLeads()">
                    <i class="bi bi-telephone"></i>
                </li>
            </div>
            <li id="sair" onclick="sair()">
                <i class="bi bi-box-arrow-left"></i>
            </li>
        </ul>
    </nav>

    <div id="content"></div>
</div>
