<div class="itemLista">
    <div class="linha">
        <p>Cliente:</p>
        <p class="nome">NOME DO CLIENTE</p>
    </div>

    <div class="linha">
        <p>CPF:</p>
        <p class="CPF">000.000.000-00</p>
    </div>

    <table class="parcelas">
        <thead>
            <tr>
                <th>Parcelas</th>
                <th>Vencimento</th>
                <th>Valor</th>
                <th>Pagamento</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>
