<div id="listaLeads">
    <p id="titloGrafico"></p>

    <div id="grafico"></div>

    <div id="incluirLead" onclick="incluirLeadDiv()">
        <p>Incluir novo lead</p>
        <i class="bi bi-caret-down-fill"></i>
    </div>

    <form id="novoLead">
        <p>Status:</p>
        <select name="status">
          <option value="DISTRIBUÍDO" >Distribuído</option>
          <option value="NOVO" >Novo</option>
        </select>

        <p>CPF:</p>
        <input
            autocomplete="off"
            type="text"
            name="cpf"
            oninput="this.value = cpfMask(this.value)"
            onblur="procurarLead(this)"
            inputmode="numeric"
        />

        <p>Nome:</p>
        <input
            autocomplete="off"
            type="text"
            name="nome"
            onblur="exibirBtnSalvar(this, cadastrarNovoLead, 'Incluir')"
            required
        />

        <p>Telefone:</p>
        <input
            autocomplete="off"
            name="telefone"
            type="tel"
            maxlength="15"
            inputmode="tel"
            oninput="this.value = phoneMask(this.value)"
        />

        <p>Email:</p>
        <input type="email" name="email" maxlength="200" inputmode="email" autocomplete="off" />

        <p>Cidade:</p>
        <input type="text" name="cidade" autocomplete="off" />

        <p>Obs:</p>
        <input type="text" name="obs" autocomplete="off" />
    </form>
</div>
