<div id="listaLeads">
    <div id="grafico"></div>

    <div id="incluirLead" onclick="incluirLeadDiv()">
        <p>Incluir novo lead</p>
        <i class="bi bi-caret-down-fill"></i>
    </div>

    <form id="novoLead">
        <p>Status:</p>
        <select name="status">
          <option value="CONTATADO" >Contatado</option>
          <option value="PROPOSTA ENVIADA" >Proposta enviada</option>
          <option value="EM NEGOCIAÇÃO" >Em negociação</option>
          <option value="PROPOSTA ACEITA" >Proposta aceita</option>
          <option value="PROPOSTA NEGADA" >Proposta negada</option>
        </select>

        <p>CPF:</p>
        <input
            type="text"
            name="cpf"
            oninput="this.value = cpfMask(this.value)"
            onblur="procurarLead(this)"
            inputmode="numeric"
        />

        <p>Nome:</p>
        <input
            type="text"
            name="nome"
            onblur="exibirBtnSalvar(this, cadastrarNovoLead, 'Incluir')"
            required
        />

        <p>Telefone:</p>
        <input
            name="telefone"
            type="tel"
            maxlength="15"
            inputmode="tel"
            oninput="this.value = phoneMask(this.value)"
        />

        <p>Email:</p>
        <input type="email" name="email" maxlength="200" inputmode="email" />

        <p>Cidade:</p>
        <input type="text" name="cidade" />

        <p>Obs:</p>
        <input type="text" name="obs"/>
    </form>
</div>
