<div id="login">
    <div class="login-part">
        <a
            href="https://www.oneconsorcio.com.br"
            target="_blank"
            id="logo-target"
        >
        </a>
    </div>

    <form class="login-part">
        <label>
            <input
                type="text"
                name="usuario"
                id="usuario"
                required
                placeholder="Usuário"
            />
        </label>
        <label>
            <input
                type="password"
                name="senha"
                id="senha"
                required
                placeholder="Senha"
            />
        </label>

        <button type="submit" onclick="entrar()">Entrar</button>
    </form>
</div>

<div id="logoInfoel">
    <a href="https://www.infoel.com.br" target="_blank">
        <p>Powered by</p>
        <img src="assets/infoelLogo.png" />
    </a>
</div>
