<div>
    <form id="formulario">
        <label>
            <p>Tipo de Pessoa</p>
            <select
                name="tipoPessoa"
                onchange="alterarTipoPessoaVenda(this.value)"
                required
            >
                <option value="F">Física</option>
                <option value="J">Jurídica</option>
            </select>
        </label>

        <label>
            <p>CPF</p>
            <input
                required
                type="text"
                name="cpf"
                oninput="this.value = cpfMask(this.value)"
                onblur="carregarDadosCliente(this.value)"
                inputmode="numeric"
            />
        </label>

        <div id="infoCliente"></div>

        <hr />

        <label>
            <p>Data de adesão</p>
            <input type="date" name="dataAdesao" required />
        </label>

        <label>
            <p>Tipo</p>
            <input type="text" name="tipo" required />
        </label>

        <label>
            <p>Grupo</p>
            <input type="text" name="grupo" required />
        </label>

        <label>
            <p>Número do contrato</p>
            <input type="number" min="0" name="numContrato" required />
        </label>

        <label>
            <p>Parcelas</p>
            <input type="number" min="1" name="parcelas" required />
        </label>

        <hr />

        <button type="submit">Salvar</button>
    </form>
</div>
