<form id="formulario">
    <h1>Dados do cliente</h1>
    <div id="tipoPessoa">
        <label>
            <p>Tipo de Pessoa</p>
            <select name="tipoPessoa" onchange="alterarTipoPessoaVenda(this.value)" required>
                <option value="F">Física</option>
                <option value="J">Jurídica</option>
            </select>
        </label>

        <label>
            <p>CPF *</p>
            <input autocomplete="off" required type="text" name="cpf" oninput="this.value = cpfMask(this.value)"
                onblur="carregarDadosCliente(this.value)" inputmode="numeric" />
        </label>
    </div>

    <div id="infoCliente"></div>

    <h1>Dados da venda</h1>
    <div id="tipoPessoa">
        <label>
            <p>Valor da Carta *</p>
            <input autocomplete="off" type="text" name="valorCarta" required oninput="currencyMask(this)"
                onkeyup="setCaretToEnd(this)" value="0,00" />
        </label>

        <label>
            <p>Data de adesão *</p>
            <input autocomplete="off" type="date" name="dataAdesao" required />
        </label>

        <label>
            <p>Tipo</p>
            <select name="tipo" required>
                <option value="Automóvel">Automóvel</option>
                <option value="Imóvel">Imóvel</option>
                <option value="Serviço">Serviço</option>
            </select>
        </label>

        <label>
            <p>Grupo</p>
            <input autocomplete="off" type="text" name="grupo" />
        </label>

        <label>
            <p>Cota</p>
            <input autocomplete="off" type="text" name="cota" />
        </label>

        <label>
            <p>Número do contrato</p>
            <input autocomplete="off" type="number" min="0" name="numContrato" />
        </label>

        <label>
            <p>Parcelas *</p>
            <input autocomplete="off" type="number" min="1" name="parcelas" required value="10" />
        </label>

        <label>
            <p>Meia Parcela?</p>
            <select name="meiaparcela" required>
                <option value="1">Não</option>
                <option value="2">Sim</option>
            </select>
        </label>



        <br />
        <h1>* Dados obrigatórios</h1>
    </div>

    <button type="submit">Incluir</button>
</form>