.Logo {
  max-width: 300px;
}

body {
  --bodyPaddingTop: 70px;
  padding-top: var(--bodyPaddingTop);
}

#menu {
  width: 100%;
  height: var(--bodyPaddingTop);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--black);
  border-bottom: 2px solid var(--primary);
  transition: top 0.3s;
}

@media (max-width: 800px) {
  .Logo {
    max-width: 150px;
  }
  #menu {
    height: 40px;
    justify-content: center;
  }
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}